<section class="bg-light my-5">
  <div class="container">
    <div class="row">
      <!-- cart -->
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your shopping cart</h4>
            <p class="no-cart-item" *ngIf="cartItems.length === 0"><b>No items yet. Continue shopping to explore more.</b></p>
            <div class="row gy-3 mb-4" *ngFor="let cartItem of cartItems">
              <div class="col-lg-5">
                <div class="me-lg-5">
                  <div class="d-flex">
                    <img src="{{cartItem?.product?.image}}" class="border rounded me-3" style="width: 96px; height: 96px;" />
                    <div class="">
                      <div class="nav-link">{{cartItem?.product?.title}}</div>
                      <p class="text-muted fixed-length ">{{cartItem?.product?.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                <div class="">
                  <div class="input-group mr-4" style="width: 120px;">
                    <span class="input-group-btn">
                      <button class="quantity-left-minus btn btn-danger btn-number"
                      (click)="changeItemQuantity(cartItem?.product?.id, 'decrease')"
                        >-</button>
                    </span>
                    <div class="px-2 py-1">{{cartItem?.quantity}}</div>
                    <span class="input-group-btn">
                      <button type="button" class="quantity-right-plus btn btn-success btn-number"
                      (click)="changeItemQuantity(cartItem?.product?.id, 'increase')"
                      >+</button>
                    </span>
                  </div>
                </div>
                <div>
                  <div class="h6">${{getTotalPricePerItem(cartItem)}}</div>
                  <small class="text-muted text-nowrap"> ${{cartItem?.product?.price}} / per item </small>
                </div>
              </div>
              <div
                class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                <div class="float-md-end">
                  <button class="btn btn-light border text-danger icon-hover-danger"
                    (click)="removeItemFromCart(cartItem?.product?.id)"> Remove</button>
                </div>
              </div>
            </div>
          </div>
          <div class="border-top pt-4 mx-4 mb-4">
            <p><i class="fa fa-truck text-muted fa-lg"></i> Free Delivery within 1-2 weeks</p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip
            </p>
          </div>
        </div>
      </div>
      <!-- cart -->
      <div class="col-lg-3">
        <app-checkout [totalPrice]="totalPrice"></app-checkout>
      </div>
    </div>
  </div>
</section>
<!-- Recommended -->
<app-reccomended-items></app-reccomended-items>
<!-- Recommended -->