<div class="card mb-3 border shadow-0">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label class="form-label">Have coupon?</label>
                <div class="input-group">
                    <input type="text" class="form-control border" placeholder="Coupon code" [formControl]="couponFormControl"/>
                    <button class="btn btn-light border" (click)="applyCoupon()" type="button">Apply</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card shadow-0 border">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2">${{totalPrice ? totalPrice : 0}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="mb-2">Discount:</p>
            <p class="mb-2 text-success">-$ {{displayDiscount ? 10.00 : 0}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="mb-2">TAX:</p>
            <p class="mb-2">$4.00</p>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
            <p class="mb-2">Total:</p>
            <p class="mb-2 fw-bold">${{totalCheckout}}</p>
        </div>

        <div class="mt-3">
            <button class="btn btn-success w-100 shadow-0 mb-2" (click)="makePurchase()"> Make Purchase </button>
            <a routerLink="/" class="btn btn-light w-100 border mt-2"> Back to shop </a>
        </div>
    </div>
</div>