<!-- <div class="container p-3 text-center">
    <div class="col-md-12 col-12">
        <div class="d-flex float-end">
            <button class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i
                    class="fa fa-user m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Sign in</p>
            </button>
            <button class="border rounded py-1 px-3 nav-link d-flex align-items-center"><i
                    class="fa fa-sign-out  m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Log out</p>
            </button>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>